In [1]:
import pandas as pd
import numpy as np

In [98]:
codon_usage_df = pd.read_csv('G:\Miniconda Projects\Codon Usage Data Set\codon_usage.csv')

In [99]:
codon_usage_df.shape

(13028, 69)

In [100]:
rows_to_drop = []

for i in enumerate(codon_usage_df['UUC']):
    try:
        if '0' not in i[1]:
                rows_to_drop.append(i[0])
    except TypeError:
                pass
        
for i in enumerate(codon_usage_df['UUU']):
    try:
        if '0' not in i[1]:
               rows_to_drop.append(i[0])
    except TypeError:
                pass
        
rows_to_drop

[5063, 486, 5063]

In [101]:
print("old shape", codon_usage_df.shape)
codon_usage_df.drop(codon_usage_df.index[rows_to_drop], inplace=True)
print("new shape",codon_usage_df.shape)

old shape (13028, 69)
new shape (13026, 69)

In [89]:
codon_usage_df.Kingdom.value_counts()

bacteria         2919
mitochondria     2899
virus            2831
plant            1556
invertebrate      933
chloroplast       816
vertebrate        464
bacteriophage     220
archaea           126
mammal            102
primate            83
rodent             59
plasmid            18
Name: Kingdom, dtype: int64

In [17]:
#Create Dictionary with full names for kingdom
full_name_dict = {'arc':'archaea', 'bct':'bacteria', 'phg':'bacteriophage',
                 'plm' :'plasmid', 'pln' :'plant', 'inv' :'invertebrate',
                 'vrt' :'vertebrate', 'mam' :'mammal', 'rod' :'rodent',
                 'pri' :'primate', 'vrl':'virus'}

codon_usage_df = codon_usage_df.replace({'Kingdom':full_name_dict})
codon_usage_df.Kingdom.value_counts()

bacteria         2920
virus            2832
plant            2523
vertebrate       2077
invertebrate     1345
mammal            572
bacteriophage     220
rodent            215
primate           180
archaea           126
plasmid            18
Name: Kingdom, dtype: int64

In [18]:
mean_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('mean').round())
median_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('median').round())
max_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('max').round())
min_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('min').round())

pd.concat([pd.Series(mean_dict, name='Mean'),
           pd.Series(median_dict, name='Median'),
           pd.Series(max_dict, name='Max'),
           pd.Series(min_dict, name='Min')],
           axis=1).astype(int)

                 Mean  Median       Max   Min
archaea        225434   12164   1420978  1050
bacteria       199353    6674   4100487  1000
bacteriophage   10251    2379    114247  1008
invertebrate    51478    3200  21945319  1000
mammal          19900    2815   5198458  1001
plant           61513    2360  34132283  1000
plasmid         12596   14924     28138  1164
primate        299360    2584  40662582  1025
rodent         156279    2279  24533776  1009
vertebrate      14457    2167   8042248  1007
virus           24992    2842  16473114  1001

In [19]:
codon_usage_df['Kingdom'] = np.where(codon_usage_df['DNAtype'] == 1, 'mitochondria',
                            np.where(codon_usage_df['DNAtype'] == 2, 'chloroplast',
                            codon_usage_df['Kingdom']))

In [20]:
codon_usage_df.Kingdom.value_counts()

bacteria         2920
mitochondria     2899
virus            2832
plant            1556
invertebrate      933
chloroplast       816
vertebrate        464
bacteriophage     220
archaea           126
mammal            102
primate            83
rodent             59
plasmid            18
Name: Kingdom, dtype: int64

In [12]:
mean_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('mean').round())
median_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('median').round())
max_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('max').round())
min_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('min').round())

pd.concat([pd.Series(mean_dict, name='Mean'),
           pd.Series(median_dict, name='Median'),
           pd.Series(max_dict, name='Max'),
           pd.Series(min_dict, name='Min')],
           axis=1).astype(int)

                 Mean  Median       Max   Min
archaea        225434   12164   1420978  1050
bacteria       199353    6674   4100487  1000
bacteriophage   10251    2379    114247  1008
chloroplast      5469    1324    100238  1000
invertebrate    71783    3480  21945319  1000
mammal          85131    2594   5198458  1001
mitochondria     7666    2388   8998998  1003
plant           96051    3218  34132283  1000
plasmid         12596   14924     28138  1164
primate        536318    2627  40662582  1033
rodent         554778    4210  24533776  1009
vertebrate      52335    2788   8042248  1009
virus           24992    2842  16473114  1001