In [1]:
import pandas as pd
import numpy as np

In [27]:
codon_usage_df = pd.read_csv('G:\Miniconda Projects\Codon Usage Data Set\codon_usage.csv')

G:\Miniconda\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [28]:
codon_usage_df.head(-5)

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,vrl,0,100217,1995,Epizootic haematopoietic necrosis virus,0.01654,0.01203,0.00050,0.00351,0.01203,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,vrl,0,100220,1474,Bohle iridovirus,0.02714,0.01357,0.00068,0.00678,0.00407,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,vrl,0,100755,4862,Sweet potato leaf curl virus,0.01974,0.0218,0.01357,0.01543,0.00782,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,vrl,0,100880,1915,Northern cereal mosaic virus,0.01775,0.02245,0.01619,0.00992,0.01567,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,vrl,0,100887,22831,Soil-borne cereal mosaic virus,0.02816,0.01371,0.00767,0.03679,0.01380,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13018,pri,1,9597,2948,mitochondrion Pan paniscus,0.02171,0.03256,0.01832,0.00441,0.02001,...,0.00204,0.00034,0.00034,0.00475,0.02069,0.02205,0.00678,0.00237,0.00068,0.01934
13019,pri,0,9598,328023,Pan troglodytes,0.0138,0.022,0.00569,0.01047,0.01147,...,0.01214,0.01339,0.01351,0.01751,0.02667,0.02191,0.04283,0.00065,0.00060,0.00165
13020,pri,1,9598,3275,mitochondrion Pan troglodytes,0.0229,0.0287,0.01863,0.00275,0.01954,...,0.00092,0.00031,0.00031,0.00794,0.01924,0.02382,0.00580,0.00122,0.00214,0.01893
13021,pri,0,9600,96254,Pongo pygmaeus,0.01739,0.02236,0.00887,0.01221,0.01307,...,0.00885,0.01497,0.01232,0.01886,0.02383,0.02546,0.03319,0.00149,0.00068,0.00150
13022,pri,1,9600,2525,mitochondrion Pongo pygmaeus,0.01228,0.03446,0.01624,0.00752,0.01505,...,0.00079,0.00000,0.00040,0.00198,0.01941,0.02218,0.00792,0.00277,0.00079,0.01861

In [29]:
codon_usage_df.Kingdom.value_counts()

bct    2920
vrl    2832
pln    2523
vrt    2077
inv    1345
mam     572
phg     220
rod     215
pri     180
arc     126
plm      18
Name: Kingdom, dtype: int64

In [30]:
#Create Dictionary with full names for kingdom
full_name_dict = {'arc':'archaea', 'bct':'bacteria', 'phg':'bacteriophage',
                 'plm' :'plasmid', 'pln' :'plant', 'inv' :'invertebrate',
                 'vrt' :'vertebrate', 'mam' :'mammal', 'rod' :'rodent',
                 'pri' :'primate', 'vrl':'virus'}

In [31]:
codon_usage_df = codon_usage_df.replace({'Kingdom':full_name_dict})
codon_usage_df.Kingdom.value_counts()

bacteria         2920
virus            2832
plant            2523
vertebrate       2077
invertebrate     1345
mammal            572
bacteriophage     220
rodent            215
primate           180
archaea           126
plasmid            18
Name: Kingdom, dtype: int64

In [32]:
mean_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('mean').round())
median_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('median').round())
max_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('max').round())
min_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('min').round())

In [33]:
pd.concat([pd.Series(mean_dict, name='Mean'),
           pd.Series(median_dict, name='Median'),
           pd.Series(max_dict, name='Max'),
           pd.Series(min_dict, name='Min')],
           axis=1).astype(int)

                 Mean  Median       Max   Min
archaea        225434   12164   1420978  1050
bacteria       199353    6674   4100487  1000
bacteriophage   10251    2379    114247  1008
invertebrate    51478    3200  21945319  1000
mammal          19900    2815   5198458  1001
plant           61513    2360  34132283  1000
plasmid         12596   14924     28138  1164
primate        299360    2584  40662582  1025
rodent         156279    2279  24533776  1009
vertebrate      14457    2167   8042248  1007
virus           24992    2842  16473114  1001

In [34]:
# Create New mitochondrion DNA column
codon_usage_df['MitochondrionDNA'] = codon_usage_df.SpeciesName.str.contains('mitochondrion',regex=False)
codon_usage_df['MitochondrionDNA'].value_counts()

False    10129
True      2899
Name: MitochondrionDNA, dtype: int64

In [35]:
codon_usage_df['Kingdom'] = np.where(codon_usage_df['MitochondrionDNA'] == True, 'mitochondria', codon_usage_df['Kingdom'])

In [36]:
codon_usage_df.Kingdom.value_counts()

bacteria         2920
mitochondria     2899
virus            2832
plant            2371
invertebrate      934
vertebrate        464
bacteriophage     220
archaea           126
mammal            102
primate            83
rodent             59
plasmid            18
Name: Kingdom, dtype: int64

In [12]:
mean_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('mean').round())
median_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('median').round())
max_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('max').round())
min_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('min').round())

pd.concat([pd.Series(mean_dict, name='Mean'),
           pd.Series(median_dict, name='Median'),
           pd.Series(max_dict, name='Max'),
           pd.Series(min_dict, name='Min')],
           axis=1).astype(int)

                 Mean  Median       Max   Min
archaea        225434   12164   1420978  1050
bacteria       199353    6674   4100487  1000
bacteriophage   10251    2379    114247  1008
invertebrate    71712    3492  21945319  1000
mammal          85131    2594   5198458  1001
mitochondria     7666    2388   8998998  1003
plant           64915    2192  34132283  1000
plasmid         12596   14924     28138  1164
primate        536318    2627  40662582  1033
rodent         554778    4210  24533776  1009
vertebrate      52335    2788   8042248  1009
virus           24992    2842  16473114  1001

In [13]:
codon_usage_df[(codon_usage_df['DNAtype']==2) ]

,Kingdom,DNAtype,SpeciesID,Ncodons,SpeciesName,UUU,UUC,UUA,UUG,CUU,...,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA,MitochondrionDNA
6114,plant,2,100526,1038,chloroplast Polygonatum involucratum,0.06262,0.0289,0.04239,0.02505,0.03083,...,0.01349,0.00385,0.02312,0.00578,0.04624,0.00771,0.00000,0.00000,0.00193,False
6118,plant,2,100935,1008,chloroplast Altingia obovata,0.03968,0.02381,0.03770,0.03373,0.03175,...,0.01389,0.00992,0.02778,0.00992,0.03175,0.01587,0.00000,0.00000,0.00198,False
6124,plant,2,101471,1016,chloroplast Magnolia dodecapetala,0.0374,0.0315,0.02756,0.02559,0.03346,...,0.01772,0.00787,0.02165,0.00984,0.03543,0.02165,0.00000,0.00000,0.00197,False
6127,plant,2,101627,1041,chloroplast Iriartea deltoidea,0.02786,0.01441,0.03074,0.01633,0.01921,...,0.01441,0.00192,0.03746,0.01153,0.05476,0.01153,0.00096,0.00000,0.00192,False
6132,plant,2,102770,1010,chloroplast Eupatorium cannabinum,0.04752,0.02772,0.03960,0.03366,0.02574,...,0.01881,0.00891,0.03564,0.00396,0.02772,0.01386,0.00000,0.00000,0.00198,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8630,plant,2,98869,2355,chloroplast Ecdeiocolea monostachya,0.06157,0.02463,0.03355,0.02293,0.03482,...,0.00764,0.00425,0.01996,0.00637,0.03694,0.00807,0.00297,0.00042,0.00042,False
8631,plant,2,98897,1418,chloroplast Elegia cuspidata,0.0536,0.02327,0.02609,0.02821,0.02821,...,0.01410,0.00353,0.03385,0.00635,0.04725,0.01128,0.00212,0.00000,0.00000,False
8633,plant,2,99124,1542,chloroplast Georgeantha hexandra,0.07198,0.0214,0.02918,0.02724,0.03696,...,0.00584,0.00584,0.02918,0.00389,0.03696,0.01362,0.00195,0.00000,0.00000,False
8635,plant,2,99438,15748,chloroplast Lumnitzera racemosa,0.06299,0.01969,0.04134,0.02362,0.03543,...,0.01575,0.00197,0.03150,0.00984,0.03543,0.01378,0.00000,0.00000,0.00197,False
9400,invertebrate,2,5811,6158,chloroplast Toxoplasma gondii,0.08412,0.00438,0.11725,0.00244,0.01202,...,0.01867,0.00032,0.02144,0.00179,0.02566,0.00146,0.00406,0.00016,0.00438,False

In [ ]:
codon_usage_df['Kingdom'] = np.where(codon_usage_df['MitochondrionDNA'] == True, 'mitochondria', codon_usage_df['Kingdom'])

In [15]:
codon_usage_df['Kingdom'] = np.where(codon_usage_df['DNAtype'] == 1, 'mitochondria',
                            np.where(codon_usage_df['DNAtype'] == 2, 'chloroplast',
                            codon_usage_df['Kingdom']))

In [18]:
codon_usage_df.Kingdom.value_counts()

bacteria         2920
mitochondria     2899
virus            2832
plant            1556
invertebrate      933
chloroplast       816
vertebrate        464
bacteriophage     220
archaea           126
mammal            102
primate            83
rodent             59
plasmid            18
Name: Kingdom, dtype: int64

In [17]:
mean_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('mean').round())
median_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('median').round())
max_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('max').round())
min_dict = dict(codon_usage_df.groupby(['Kingdom'])['Ncodons'].agg('min').round())

pd.concat([pd.Series(mean_dict, name='Mean'),
           pd.Series(median_dict, name='Median'),
           pd.Series(max_dict, name='Max'),
           pd.Series(min_dict, name='Min')],
           axis=1).astype(int)

                 Mean  Median       Max   Min
archaea        225434   12164   1420978  1050
bacteria       199353    6674   4100487  1000
bacteriophage   10251    2379    114247  1008
chloroplast      5469    1324    100238  1000
invertebrate    71783    3480  21945319  1000
mammal          85131    2594   5198458  1001
mitochondria     7666    2388   8998998  1003
plant           96051    3218  34132283  1000
plasmid         12596   14924     28138  1164
primate        536318    2627  40662582  1033
rodent         554778    4210  24533776  1009
vertebrate      52335    2788   8042248  1009
virus           24992    2842  16473114  1001

In [26]:
codon_usage_df[(codon_usage_df['DNAtype']==1)&(codon_usage_df['Kingdom']!='mitochondria')]

Empty DataFrame
Columns: [Kingdom, DNAtype, SpeciesID, Ncodons, SpeciesName, UUU, UUC, UUA, UUG, CUU, CUC, CUA, CUG, AUU, AUC, AUA, AUG, GUU, GUC, GUA, GUG, GCU, GCC, GCA, GCG, CCU, CCC, CCA, CCG, UGG, GGU, GGC, GGA, GGG, UCU, UCC, UCA, UCG, AGU, AGC, ACU, ACC, ACA, ACG, UAU, UAC, CAA, CAG, AAU, AAC, UGU, UGC, CAU, CAC, AAA, AAG, CGU, CGC, CGA, CGG, AGA, AGG, GAU, GAC, GAA, GAG, UAA, UAG, UGA, MitochondrionDNA]
Index: []

[0 rows x 70 columns]